.feather {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.completed {
  text-decoration: line-through;
  color: #6c757d;
}
.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  word-wrap: break-word;
  white-space: normal;
}
.task-text {
  margin-left: 0.5rem;
  cursor: pointer;
  flex-grow: 1;
  max-width: 100%;
  overflow-x: hidden;
}
.task-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-width: 95%;
}
.icon-button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}
.icon-button .feather {
  stroke: #dc3545;
}
.form-check-input {
  min-width: 15px; /* Set a minimum width for the checkbox */
}
.form-control.error {
  border-color: #dc3545;
}
.text-danger {
  color: #dc3545 !important;
}
